h1 {
    background-image: url("../Images/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
    width: 100%;
}

h1, h2, h3, p {
    font-family: Helvetica, Arial, sans-serif;
}

.price {
    color: blue;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

#frame {
    background-color: lightcoral;
}

.item h2 {
    color: white;
    font-size: 32px;
}